.Menu{
    padding-bottom: 7vh;
}
.button-holder{
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
}
.active-button{
    background-color: ivory;
    color: black;
}
.row{
    display: flex;
    justify-content: center;
    gap: .5em;

}
.button{
    text-align: center;
    font-size: 18.0px;
}
.show-Menu{
    margin: 1rem 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 30px solid ivory;
    border-image: url(../../assets/19081ivory-borders.png)70 70 round;
}
.menu-title{
    font-size: 25px;
    margin-bottom: 0;
}
.line-break-menu{
    border: 1px solid ivory;
    width: 25vw;
}
@media screen and (max-width:950px) {
    .button-holder{
        padding-left: 0;
        padding-right: 0;
        width: 100vw;
    }
    .row{
        width: 95%;
    }
    .button{
        width: 30%;
        font-size: 14px;
    }
    .show-Menu{
        margin: 1rem 0;
    }
}



