@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://db.onlinewebfonts.com/c/675eead49ab35ca89bd1986150fd1ab6?family=Catorze27Style1-Medium');
body{
    margin: 0 !important;
}
:root{
    --font-base: 'Raleway';
    --font-alt: 'Montserrat';
    --font-nav: 'Catorze27Style1-Medium' ;
    --color-gold: #fcdd6f ;
    --color-gray: #7c7a74 ;
    /* overflow-x: hidden; */
    background-color: black;
    color: white;
    scrollbar-width: none !important; /* Firefox */
    -ms-overflow-style: none !important; /* IE and Edge */
}
@font-face {
    font-family: "Aldo";
    src: local("Aldo"),
      url("./assets/fonts/Aldo.ttf") format("opentype");
    font-weight: normal;
  }
.p__raleway{
    font-family: 'Raleway';
    font-size: 18px;
    /* text-transform: uppercase; */
}

.p__catorze{
    font-family: 'Catorze27Style1-Medium';
    font-size: 18px;
}
.h__catorze{
    font-family: 'Catorze27Style1-Medium';
    font-size: 30px;
    text-transform: uppercase;
}
.p__Aldo{
    font-family: 'Aldo','serif' !important;
}
.fw-15{
    font-size: 15px !important;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Catorze27Style1-Medium';
    font-size: 24px;
    text-align: center;
    box-shadow: none;
    width: 150px;
    height: 30px;
    border: 1px solid ivory;
    padding: 0.25rem 1.5rem 0.5rem 1.5rem;
}
.button:hover,.button:focus{
    background-color: ivory;
    color: black;
    transition: all ease-in-out 0.3s;
}
.mt-1{
    margin-top: 1rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.fadable {
    opacity: 0;
    transform: translateY(50px); /* Start 50px below */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth transition */
  }
  
  /* When 'visible' is added, fade in and move up */
  .fadable.visible {
    opacity: 1;
    transform: translateY(0); /* Move to original position */
  }